[maxscale]
admin_secure_gui=false
threads=1
admin_host=0.0.0.0

[server1]
type=server
address=10.0.0.10
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=10.0.0.11
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
replication_password=1
replication_user=maxscale
module=mariadbmon
password=1
servers=server1,server2
type=monitor
user=maxscale

[Splitter-Service]
password=1
router=readwritesplit
type=service
user=maxscale
targets=server1,server2

[Splitter-Listener]
port=3306
service=Splitter-Service
type=listener
